* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******** header-section*********/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: transparent;
}

.text {
    position: relative;
    letter-spacing: 1.2px;
}

.text::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 16px;
    /* right: 90px; */
    width: 40%;
    height: 4px;
    background-color: red;
}

.links {
    display: flex;
    gap: 30px;
}

.links a {
    text-decoration: none;
    color: rgb(17, 17, 58);
    font-weight: 600;
    letter-spacing: 1.1px;
}

.btn {
    padding: 15px 22px;
    background-color: beige;
    border: none;
    color: red;

}

.links a:hover,
.links a.active {
    color: red;
}

/***********section-1  ***********/
.content {
    padding: 20px 200px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.description {
    width: 50%;
    

}

.description h1 {
    font-size: 60px;
    color: rgb(17, 17, 58);
    padding-bottom: 10px;
    text-transform: capitalize;
}
.description p{
    color: rgba(20, 15, 15, 0.384);
    font-size: 20px;
    letter-spacing: 1.1px;
    line-height: 1.3;
    text-align: justify;
}

.picture {
    width: 50%;
}
.more{
    display: flex;
   
    gap: 20px;
    padding-top: 20px;

}
.more a{
    padding: 24px;
    text-decoration: none;
    color: rgb(17, 17, 58);
    border-radius: 50px;
    border: none;
    text-transform: capitalize;
    font-size: 20px;
}
.more a:hover,
.more a.red{
    background-color: red;
    color: white;
}